:root {
    --primary-color: #9A97F3;
    --font-color: #e5e5e5;
    --bg-color: #151515;
    --heading-color: #818cab;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

h1 {
  color: #E5E5E5;
}

h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}

a {
  color: var(--primary-color);
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#profile {
  margin: auto;
  display: block;
  width: 100%;
  height: 20%;
}

#profilepic {
  width: 10em;
}

#profile > * {
  margin: auto;
  display: block;
  text-align: center;
}

.section-header {
  text-transform: capitalize;
}
