.flex-container {
  display: flex;
  flex-direction: column;
}

#profile {
  margin: auto;
  display: block;
  width: 100%;
  height: 20%;
}

#profilepic {
  width: 10%;
}

#profile > * {
  margin: auto;
  display: block;
  text-align: center;
}

.section-header {
  text-transform: capitalize;
}

