:root {
    --primary-color: #9A97F3;
    --font-color: #e5e5e5;
    --bg-color: #151515;
    --heading-color: #818cab;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: 'verdana light';
}

h1 {
  color: #E5E5E5;
}

h2 {
  color: var(--heading-color);
}

a {
  color: var(--primary-color);
}

span, .project-card {
  color: var(--font-color);
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#profile {
  margin: auto;
  display: block;
  width: 100%;
  height: 20%;
}

#profilepic {
  width: 10em;
}

#profile > * {
  margin: auto;
  display: block;
  text-align: center;
}

.section-header {
  text-transform: capitalize;
}

#projectsSpace {
  width: 100%;
  flex-flow: row wrap;
  margin: auto;
}

#projectsSpace > * {
  display: block;
}

.project-card {
  background-color: #252525;
  display: flex;
  flex-direction: column;
  padding: 3%;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.project-card-wrapper {
  width: 28em;
  height: 10em;
  transition: 0.2s ease-in-out;
  padding: 1.50%;
  padding-top: 0;
  padding-bottom: 3%;
}

.project-card-wrapper:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.star-count {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}
